extends ./layouts/common
block content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.container-fluid
        a.navbar-brand(href='#') CoderToykyo.com
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarNavAltMarkup.collapse.navbar-collapse.navbar-nav
            a.nav-link.active(aria-current='page', href='#') Home
            a.nav-link(href='/users/create') User
            a.nav-link(href='/users/signin') SignIn

